<style>
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form label{
    padding: 20px;
  }
  form button{
    margin: 20px;
  }
</style>
<form id="messages-form">
  <label for="user">USUARIO</label><input type="text" id="inp_user" name="user" placeholder="ingrese su email">
  <label for="message">MENSAJES</label><input type="text" id="inp_message" name="message" placeholder="ingrese un mensaje">
  <button type="submit">Enviar mensaje</button>
</form>



<h1>Mensajes</h1>
{{#if hayMensajes}}
<ul>
{{#each mensajes}}
<li>Nombre: {{this.user}} Mensaje: {{this.message}}</li>
{{/each}}
</ul>
{{else}}
<h3>No hay mensajes</h3>
{{/if}}


<script src="/js/messages.js"></script>